{% extends "main/base.html" %}
{% block content %}
    <div class="container-fluid">
        <h1 class="main_title">My Todo List</h1>

        <form class="todo_form" action="{% url 'add' %}" method="POST">
            {% csrf_token %}

            <div class="input-group input-group-lg">
                {{ form.text }}
                <div class="input-group-append">
                    <button class="btn btn-danger" type="submit"><i class="fas fa-plus"></i> ADD</button>
                </div>
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="inputCategory">
                            <select class="selectpicker" data-style="btn-danger" name="category_select" title="Choose a category" data-live-search="true">
                                <option data-icon="fas fa-home" value="Home" data-tokens="Home">Home</option>
                                <option data-icon="fas fa-briefcase" value="Work" data-tokens="Work">Work</option>
                                <option data-icon="fas fa-school" value="School" data-tokens="School">School</option>
                                <option data-icon="fas fa-broom" value="Cleaning" data-tokens="Cleaning">Cleaning</option>
                                <option data-icon="far fa-smile" value="Personal" data-tokens="Personal">Personal</option>
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="inputContact">
                            <select class="selectpicker" data-style="btn-danger" name="contact_select" title="Choose a contact" data-live-search="true" multiple>
                                {% for contact in contacts %}
                                    <option data-icon="fas fa-user-friends" value="{{ contact.id }}" data-tokens="{{ contact }}">{{ contact }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <button class="btn btn-danger" name="delcompleted" type="submit"><i class="fas fa-trash"></i> DELETE COMPLETED</button>
                    </div>
                    <div class="col">
                        <a href="#" data-toggle="modal" data-target="#Modal"><button class="btn btn-danger"><i class="fas fa-trash"></i> DELETE ALL</button></a>
                    </div>

                    <!-- Modal for delete all button -->
                    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Delete All</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure want to delete all your todos?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                              <button class="btn btn-danger" name="delall" type="submit"><i class="fas fa-trash"></i> Delete All</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ul class="todo-list">
            {% for todo in todo_list %}
                {% if todo.complete %}
                    <li class="list-group-item todo-complete">
                        <span class="todo-text-complete">{{ todo.text }}</span>
                        <span class="todo-category-{{ todo.category }}">{{ todo.category }}</span>
                    </li>
                {% else %}
                    <a href="{% url 'complete' todo.id %}" class="noncomplete">
                        <li class="list-group-item">
                            <span class="todo-text">{{ todo.text }}</span>
                            <span class="todo-category-{{ todo.category }}">{{ todo.category }}</span>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
