/* CSS for nav */
.bg-steel {
    background-color: #5f788a;
}

.navbar-nav {
    color: #cbd5db;
}

.nav-link {
    color: #cbd5db;
}

.navbar-nav {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
}


/* CSS for buttons and todo form */
.todo_form {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.todo-complete {
    text-decoration: line-through;
    color: #dc3545;
    font-weight: bold;
}

.noncomplete {
    color: black;
    font-weight: bold;
}

.noncomplete:hover {
    text-decoration: line-through;
    color: #dc3545 ;
    font-weight: bold;
}

/* Edits elements that contains "todo-category" in their class attribute. Pretty useful! */
[class*="todo-category"] {
    font-size: 10px;
    vertical-align: middle;
    color: white;
    padding: 10px;
    width: 75px;
    text-align: center;
    border-radius: 250px;
    float: right;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}

.todo-category- {
    background: transparent;
}

.todo-category-Home {
    background: #0000ff;
}

.todo-category-Work {
    background: #3f4a42;
}

.todo-category-School {
    background: #e68f17;
}

.todo-category-General {
    background: #b5128f;
}

.todo-category-Cleaning {
    background: #0c8a13;
}

/* CSS for body/home page */
body {
    background-color: beige;
    font-family: 'Comic Sans MS', 'sans-serif';
}

.main_title {
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: "Comic Sans MS";
}

.container-fluid {
    margin-top: 100px;
    padding-left: 170px;
    padding-right: 170px;
}

.alert {
    margin-top: 57px;
}

.content-section {
    margin-top: 70px;
}

.logout-title {
    margin-top: 70px;
    text-align: center;
}


.login-again {
    display: block;
    text-align: center;
    font-size: 30px;
}

.todo-list {
    margin-top: 20px;
}

.contact-email {
    margin-left: 30px;
}

.contact-title {
    text-align: center;
}

/* Contact Page */
.contact-list a {
    text-decoration: none;
}

.contact-list li {
    color: black;
}

.contact-list li:hover {
    color: #dc3545
}